div{

    background-image: url(div\ backfround.jpeg);
    height: 100%;
width: 100%;
background-repeat: no-repeat;

background-size: cover;
}

button{


    background-color:red;

    margin-left: 650px;

size: 50px;
}
